html {
    font-size: 20px;
    margin: auto;
    background: blue;
}

body {
    width: 800px;
    margin: 0 auto;
    background: antiquewhite;
    padding: 0 20px 20px 20px;
    border: 10px solid gray;
}

p,.myHeder {
    font-family: 'Roboto', sans-serif;
    padding: 20px;
}

ul {
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-family: 'Roboto', sans-serif;
}

.my_cat_Green{
    width: 600px;
    border: 20px;
    border-color: beige;
}